.button {
    background-color:black;
    font-weight: bolder;
    color: white;
    font-size: 1.3em;
    margin-top: 10px;
}
#tkb,#sobuoi,#startday  {
    border: solid;
    background-color:darkkhaki;
    color:darkblue;
    font-size: larger;
    font-weight: bolder;
}
.small{font-size: 0.8em;}
#tkb #today{
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1em;
    text-align: justify
}

.next {
    background-color: yellow;
    color:black
}
.day {
    background-color: coral;
    color:black;
}

p {text-align: justify;


}
#list{
    font-weight: bold;
    background-color:black;
    color:white ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    width: 70%;
    
}
.flexy{
    display: flex;
    flex-direction: row;
}
.times { 
    color:purple;
    background-color: aqua;
}

.flexy >.flex-container{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100px;  
}
.tinh{
    background-color:green;
}



#cn {
    display: flex;
    flex-wrap: nowrap;
    background-color: dodgerblue;
    margin:10px;
    height: 60px;
    justify-content:left;
 }

 @media (max-width: 800px)
 { #cn {
    display: flex;
    flex-wrap: nowrap;
    background-color: dodgerblue;
    height: 50px;
    justify-content:left;
    font-size: 0.8em;
    align-items: center;
    }
}    
    
#cn>div{
    background-color: white;
    margin: 5px;
    margin-left: 10px;margin-right: 10px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1em;
    
}

.flex-container {
    display: flex;
    
    background-color: dodgerblue;
   
    height: 40px;
   
    
}


.flex-container > div{
    background-color: white;
    margin: 5px;
    margin-left: 10px;margin-right: 10px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1em;
    
    
}


@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
      font-size: 1em;
      height: 130px;
      width: 300px;
     
     align-items:flex-start

     
    }
  }
@media (max-width: 800px) {
    .flex-container > div 
    { flex: 100%;
    width: 230px
    }
}

